{% extends "base.html" %}
    {% block title %}Mitarbeiter hinzufügen{% endblock %}
    {% block content %}
        <h1>Mitarbeiter hinzufügen</h1>
        <form method="POST">
            <label for="name">Name des Mitarbeiters: <span style="color:red">*</span></label>
            <input type="text" id="name" name="name" required>
            <label for="job_title">Stellenbezeichnung: <span style="color:red">*</span></label>
            <input type="text" id="job_title" name="job_title" required>
            <label for="team">Team:</label>
            <input type="text" id="team" name="team">
            {% if current_user.is_admin %}
            <label for="oe_number">OE-Nummer: <span style="color:red">*</span></label>
            <input type="text" id="oe_number" name="oe_number" required>
            {% endif %}
            <button type="submit">Hinzufügen</button>
        </form>
        <p><a href="{{ url_for('employees') }}">Zurück zur Mitarbeiterliste</a></p>
    {% endblock %}