<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mitarbeiterverwaltung{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head_extra_style %}{% endblock %} {# Für seiten-spezifische Stile #}
</head>
<body>
    <div class="wrapper"> {# Wrapper for flexbox layout #}
        <div class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{{ url_for('employees') }}">Mitarbeiter verwalten</a></li>
                <li><a href="{{ url_for('working_hours_changes') }}">Wochenarbeitszeit ändern</a></li>
                <li><a href="{{ url_for('holidays') }}">Feiertage verwalten</a></li>
                <li><a href="{{ url_for('department_tasks') }}">Abteilungsaufgaben verwalten</a></li>
                <li><a href="{{ url_for('assign_tasks') }}">Aufgaben zuordnen</a></li>
                <li><a href="{{ url_for('settings') }}">Einstellungen</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="container">
                {# Flash-Nachrichten hier, da sie auf allen Seiten erscheinen sollen #}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                {% block content %}{% endblock %} {# Hier wird der Inhalt jeder spezifischen Seite eingefügt #}
            </div>
        </div>
    </div>
    {% block extra_script %}{% endblock %} {# Für seiten-spezifische JavaScripts #}
</body>
</html>
