{% extends "base.html" %}

{% block title %}Ressourcensteuerung{% endblock %}

{% block content %}
        <h1>Ressourcensteuerung</h1>
        <p>Willkommen bei der Ressourcensteuerung.</p>
        <p>...</p>
            
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
{% endblock %}